@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/ubuntu-v20-latin-regular.woff2") format("woff2"),
    url("/fonts/ubuntu-v20-latin-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
