---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";

console.log("404 Page not found");
console.log(Astro.url);
---

<BaseLayout title="Page not found">
  <h1 class="">Page Not Found</h1>
  <div class="text-center text-lg">
    Oops! Looks like you broke something... or we just couldn't find what you
    were looking for. Sorry about that.
  </div>
  <Image
    class="mx-auto mt-8 aspect-video max-w-fit rounded-md"
    src={import("../assets/broken-guitar.jpg")}
    alt="Broken electric guitar"
    layout="constrained"
  />
</BaseLayout>
