---
import { Picture } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import jim from "../assets/jim-rhindress-portrait.jpg";

const title = "About Jim Rhindress | JR Guitar | Kelowna, BC";
const description =
  "Learn about Jim Rhindress, the musician, the guitarist, the vocalist, the songwriter, and the man behind JR Guitar";
---

<BaseLayout title={title} description={description}>
  <section class="pt-8 sm:pt-14 md:pt-16">
    <div>
      <h1>About Jim Rhindress</h1>
    </div>
    <div class="mt-8 flex flex-wrap items-start justify-evenly sm:flex-nowrap">
      <Picture
        class="aspect-2/3 max-w-fit rounded-md"
        src={import("../assets/jim-rhindress-portrait.jpg")}
        alt="Portrait of Jim Rhindress"
        widths={[350]}
        sizes="(max-width: 382px) calc(100vw - 32px), (max-width: 639px) 350px, (max-width: 767px) 25vw, (max-width: 1024px) 34vw, 350px"
        formats={["avif", "webp"]}
      />
      <div class="max-w-full pt-6 sm:px-8 sm:pt-0">
        <p>
          I fell in love with the guitar when I was 10. And I've been a working
          musician (drummer, bassist, guitarist, and lead vocalist) since I was
          15 years old. My musical mainstays are Top 40, Classic Rock, and
          Country. I've also worked as a studio musician in Vancouver and
          throughout BC.
        </p>
        <p>
          You may have heard me play in Kelowna, the greater Okanagan, or
          elsewhere in BC. I play in a
          <a
            class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
            href="#cover2cover">classic rock band</a
          >, a
          <a
            class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
            href="#smitten">duo with my wife</a
          >, with a local dance band, and some original works with a
          singer/songwriter.
        </p>
        <p>
          Through years of playing small clubs in Northern BC, I became a guitar
          tech out of necessity. I learned to repair my guitar, which lead to
          doing repairs and setups for my fellow band members. When musicians
          played my guitars, they noticed that their "play-ability" was
          significantly better. Quite often, they would bring me their guitars
          for a proper setup.
        </p>
        <p>
          For several years, I worked for various music stores as their setup
          and repair tech. In 2004, I opened a guitar repair shop in Kelowna, BC
          called JR Guitar. My services now include building Fender-style
          electric guitars. These strats and teles are usually my first choice
          to play.
        </p>
      </div>
    </div>
  </section>
  <section class="mt-8 max-w-full">
    <h2 class="clear-left" id="projects">Projects</h2>
    <p>
      When I'm not fixing, assembling, or teaching guitar... you'll find me
      playing one (or more) in one of the several projects (see below) that I'm
      involved in.
    </p>
    <h3 id="cover2cover">Cover2Cover</h3>
    <p>
      <a
        class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
        href="https://www.cover2coverkelowna.com/"
        target="cover2cover">Cover2Cover</a
      >
      is a 4-piece (and sometimes 5-piece) classic rock dance band. Band members are
      Jim Rhindress (guitar and vocals), Kim Rhindress (keys & vocals), Gilles Lesage
      (bass & vocals), and Robert Vallee (drums & vocals). Occasional guest band members
      are Mike Mueller (guitar and vocals) and Collin Morman (guitar, sax & vocals).
      Follow us on
      <a
        class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
        href="https://www.facebook.com/cover2coverkelowna/"
        target="facebook">Facebook</a
      >
      or
      <a
        class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
        href="https://www.instagram.com/cover2coverband/"
        target="instagram">Instagram</a
      >
      or on our
      <a
        class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
        href="https://www.cover2coverkelowna.com/"
        target="cover2cover">website</a
      >
      to see where and when we are playing next.
    </p>
    <p>
      Cover2Cover has performed at many events, including the Canadian Culinary
      Championships along with Barney Bentall, Ed Robertson of the Bare Naked
      Ladies, and Allen Doyle of Great Big Sea.
    </p>
    <p>
      We supply professional PA and lighting and are available for corporate
      events, private parties, fundraisers, and weddings.
    </p>

    <h3 id="smitten">Smitten!</h3>
    <p>
      <a
        class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
        href="https://www.smittenkelowna.com/"
        target="smitten">Smitten!</a
      >
      is an acoustic and dance music duo I have formed with my wife, Kim Foreman-Rhindress.
    </p>
    <p>
      We sing a wide variety of acoustic and rock songs. Our repertoire is
      perfect for any weddings, wineries, corporate functions, or private
      parties. I play electric guitar, Kim plays keys, and we use backing tracks
      for the bass and drums. We guarantee you a great night of dance music,
      classic rock, and 80s & 90s pop songs.
    </p>
    <p>
      For special occasions like birthdays, anniversaries, or weddings, we can
      write customs songs. And, we can even deliver a singing telegram.
    </p>

    <h3>Kelowna Voice Lab</h3>
    <p>
      Kelowna Voice Lab provides voice coaching and lessons. Kim can help with
      vocal fatigue and give you great techniques to help protect and improve
      your voice.
    </p>
    <p>
      Give Kim Foreman-Rhindress a call at
      <a
        class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
        href="tel:+12508788724">250.878.8724</a
      >
      or visit
      <a
        class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
        href="https://www.kelownavoicelab.com/"
        target="kelownavoicelab">Kelowna Voice Lab</a
      >.
    </p>
  </section>
  <section class="mt-8 max-w-full">
    <h2 id="press">Press</h2>
    <div class="mx-auto md:w-4/5">
      <iframe
        class="aspect-video w-full"
        loading="lazy"
        allow="autoplay"
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/236746692&color=%23ff5500&auto_play=false&hide_related=true&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
      ></iframe>
      <small>
        <a
          class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
          href="https://soundcloud.com/kelownavoicelab"
          title="Kelowna Voice Lab"
          target="soundcloud">Kelowna Voice Lab</a
        >
        ·
        <a
          class="rounded-sm text-yellow-700 no-underline hover:text-yellow-600 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-700 focus-visible:ring-offset-2 focus-visible:ring-offset-yellow-100"
          href="https://soundcloud.com/kelownavoicelab/jr-guitar-cbc-radio"
          title="JR Guitar CBC Radio"
          target="CBCRadio">JR Guitar CBC Radio</a
        >
      </small>
    </div>
  </section>
</BaseLayout>
