---
import { Image } from "astro:assets";
import ButtonLink from "./ButtonLink.astro";
---

<section class="not-prose relative mx-auto max-w-5xl">
  <Image
    class="m-0 aspect-video w-full"
    src={import("../assets/hero.jpg")}
    alt="Close up of hands playing guitar"
    loading="eager"
    decoding="async"
    layout="constrained"
    fetchpriority="high"
  />
  <div class="sm:absolute sm:inset-0 sm:w-3/4 sm:bg-linear-to-r sm:from-black">
  </div>
  <div
    class="left-[10%] top-1/4 bg-yellow-50 py-8 sm:absolute sm:bg-transparent sm:p-0"
  >
    <div class="mx-auto flex max-w-fit flex-col justify-center gap-6">
      <h1
        class="text-left text-4xl font-bold sm:text-5xl sm:text-yellow-50 lg:text-6xl"
      >
        Guitars. Better.
      </h1>
      <p class="sm:text-yellow-50 md:text-lg lg:text-xl">
        Does your guitar need some TLC?<br />Or maybe you want a custom build?<br
        />Either way, I've got you covered.<br />I'll even teach you how to play
        it.
      </p>
      <div class="">
        <ButtonLink href="/contact/" size="lg">Contact me</ButtonLink>
      </div>
    </div>
  </div>
</section>
