---
import FacebookSvg from "../assets/svgs/facebook.svg";
import InstagramSvg from "../assets/svgs/instagram.svg";
import RssSvg from "../assets/svgs/rss.svg";
import TwitterSvg from "../assets/svgs/twitter.svg";
import YouTubeSvg from "../assets/svgs/youtube.svg";
---

<div
  class="flex items-center justify-center space-x-8 py-4 sm:space-x-12 md:space-x-16"
>
  <a
    class="rounded-sm text-yellow-50 no-underline underline-offset-4 hover:text-yellow-200 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-100 focus-visible:ring-offset-4 focus-visible:ring-offset-stone-700"
    href="#"
    target="social"
  >
    <YouTubeSvg class="size-10" aria-label="YouTube icon" />
  </a>
  <a
    class="rounded-sm text-yellow-50 no-underline underline-offset-4 hover:text-yellow-200 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-100 focus-visible:ring-offset-4 focus-visible:ring-offset-stone-700"
    href="#"
    target="social"
  >
    <FacebookSvg class="size-10" aria-label="Facebook icon" />
  </a>
  <a
    class="rounded-sm text-yellow-50 no-underline underline-offset-4 hover:text-yellow-200 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-100 focus-visible:ring-offset-4 focus-visible:ring-offset-stone-700"
    href="#"
    target="social"
  >
    <InstagramSvg class="size-10" aria-label="Instagram icon" />
  </a>
  <a
    class="rounded-sm text-yellow-50 no-underline underline-offset-4 hover:text-yellow-200 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-100 focus-visible:ring-offset-4 focus-visible:ring-offset-stone-700"
    href="#"
    target="social"
  >
    <TwitterSvg class="size-10" aria-label="Twitter icon" />
  </a>
  <a
    class="rounded-sm text-yellow-50 no-underline underline-offset-4 hover:text-yellow-200 hover:underline focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-yellow-100 focus-visible:ring-offset-4 focus-visible:ring-offset-stone-700"
    href="/rss.xml"
    target="social"
  >
    <RssSvg class="size-10" aria-label="RSS icon" />
  </a>
</div>
