---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import "../styles/fonts.css";
import "../styles/global.css";

const { title, description } = Astro.props;
---

<html lang="en" class="scrollable scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="prose min-h-screen max-w-none bg-yellow-50/40 bg-[url('/images/jr-guitar-logo-45.png')] bg-repeat xl:prose-lg prose-headings:font-ubuntu prose-h1:text-yellow-800"
  >
    <Header />
    {Astro.url.pathname === "/" && <Hero />}
    <main
      class="mx-auto max-w-5xl bg-yellow-50 px-4 pb-4 pt-12 sm:pt-14 md:pt-16 lg:pt-24"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
